# Main webroot htaccess file for ephFrame applications
# if you experience problems successive delete some of the parts
# ----------------------------------------------------------------------------

# default charset for responses
AddDefaultCharset utf-8

# rewrite rule
# ----------------------------------------------------------------------------
RewriteEngine On
# RewriteBase / 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# normal rewrite for all files
RewriteRule	^(.*)$ index.php?__url=$1 [QSA,L]