# this .htaccess file will silently redirect users to the html folder
# where additional rewrite actions happen
# ----------------------------------------------------------------------------
RewriteEngine On
# Sometimes RewriteBase is needed to set correct document root to /
# RewriteBase /
RewriteRule ^$		public/	[L]
RewriteRule (.*)	public/$1 [L]