@CHARSET "UTF-8";

body {
	font-family: Book Antiqua, Palatino, Garamond, Times, Georgia, Serif;
	margin: 0px;
	font-size: 100.01%;
	line-height: 100.01%;
}

a {
	color: #2C66C9;	
}
a:visited {
	color: #263349;
}

#header {
	background-color: #000000;
	border-bottom: 2px solid rgb(220,220,220);
	color: #ffffff;
	font-size: 24px;
	height: 40px;
	padding: 19px 0px 0px 20px;
}
#header a {
	color: #ffffff;
}
#content {
	padding: 20px;
	line-height: 1.8em;	
}
#footer {
	padding: 20px;	
}
p {
	width: 740px;	
}
p.error, p.hint {
	padding: 8px 10px 8px 10px;
}
p.error {
	background-color: #f42727;
	color: #ffffff;
}
p.hint {
	background-color: #f4d927;
}
#footer, #footer a {
	color: rgb(150,150,150);
}
