@CHARSET "UTF-8";

/**
 *	Floating
 */
.fl {
	float: left;
}
.fr {
	float: right;
}

/**
 *	Text alignment
 */
.al {
	text-align: left;
}
.ar {
	text-align: right;
}
.ac {
	text-align: center;	
}

/**
 *	Clearer
 */
.c {
	clear: left;
}

/**
 *	Hider
 */
.h {
	display: none;	
}