@CHARSET "UTF-8";

/**
 * Some stylesheets that can be included during debugging your application
 * all styles are only used when DEBUG > 2
 * @author Marcel Eichner
 * @since 2009-05-29
 */

/**
 * Styles for sql log, shown if DEBUG > 1
 */
.debugOutput {
	clear: both;
	color: #000000;
	text-align: left;
	border: 1px solid #e6db55;
	background-color: #ffffe0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	font-family:'Pragmata','Monaco','Courier New',Courier,monospace;
	font-size: 11px;
	line-height: 10px;
	padding: 7px 8px 0px 8px;
	margin: 20px;
	white-space: normal;
	font-weight: normal;
	display: table;
}

.debugOutput .queryHistory {
	display: table;
}

/**
 * Styles for element Names, shown if debug.showElementName = true
 */
div.elementName {
	font-size: 12px;
	background: #000000;
	color: #ffffff;
	padding: 2px 5px;
	margin: 0px;
	position: absolute;
	z-index: 65535;
}
div.element {
	border: 1px solid black !important;
	display: table;
}
