/**
 * Some stylesheets that can be included during debugging your application
 * all styles are only used when DEBUG > 2
 * 
 * @theme  default
 * @author Marcel Eichner // Ephigenia <love@ephigenia.de>
 * @since  2009-05-29
 */
#debugDump {
	font: normal normal normal 11px/14px Lucida Sans Unicode, Lucida Grande, Verdana, Arial, Sans Serif;;
	clear: both;
	color: #000000;
	text-align: left;
	border: 1px solid #e6db55;
	background-color: #ffffe0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 5px 10px;
	display: table;
}
#debugDump h3 {
	border-bottom: 1px solid #e6db55;
	font-size: 14px;
	line-height: 20px;
	margin: 0.4em 0em;
}
#debugDump dl dt {
	font-weight: bold;
	float: left;
	width: 100px;
}
#debugDump table tr td {
	border-bottom: 1px solid #EFE68B;
}
#debugDump pre,
#debugDump .pre {
	white-space: normal;
	font: normal normal normal 11px/13px 'Pragmata','Monaco','Courier New',Courier,monospace;
}

/**
 * Styles for element Names, shown if debug.showElementName = true
 */
div.elementName {
	font-size: 12px;
	background: #000000;
	color: #ffffff;
	padding: 2px 5px;
	margin: 0px;
	position: absolute;
	z-index: 65535;
}
div.element {
	border: 1px solid black !important;
	display: table;
}
